<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesertRose"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="@string/Home" />
        <activity
            android:name=".Mission"
            android:exported="false"
            android:label="@string/Mission" />
        <activity
            android:name=".Team"
            android:exported="false"
            android:label="@string/Team" />
        <activity
            android:name=".Rosaisela"
            android:exported="false"
            android:label="@string/Rosaisela" />
        <activity
            android:name=".Jewelry"
            android:exported="false"
            android:label="@string/Jewelry" />

        <activity
            android:name=".Reiki"
            android:exported="false"
            android:label="@string/Reiki" />
        <activity
            android:name=".Therapy"
            android:exported="false"
            android:label="@string/Therapy" />
        <activity
            android:name=".Store"
            android:exported="false"
            android:label="@string/Store" />








    </application>

</manifest>